.cstyle{
    background-color: red;
    color: #fff;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 11px;
    letter-spacing: 0.5px;
}

.cstyle:hover{
    color: red;
}

#welcomePage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

#welcomePage .intro_section{
    width: 40%;
    height: 50vh;
    text-align: center;
}

#welcomePage .intro_section h1{
    font-size: 2.5rem;
    font-family: sans-serif;
    color: rgb(29, 27, 27);
    padding-bottom:50px;
}


#welcomePage .intro_section h3{
    color: rgb(255, 196, 0);
    font-family: sans-serif;
    font-size: 15px;
    padding-bottom: 40px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#welcomePage .intro_section p{
 color: rgb(39, 38, 38);
 font-family: sans-serif;
 line-height: 1.2;
 padding-bottom: 40px;
 width: 400px;
 margin-left: auto;
 margin-right: auto;
}


#welcomePage .rightSide_img{
    width: 40%;
    height: 50vh;
    padding: 20px;
    display: flex;
    margin: 10px;
}

#welcomePage .img1{
    width: 230px;
    height: 350px;
    position: relative;
    margin-right: 20px;
    overflow: hidden;
}

#welcomePage .img1:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    padding: 50px;
    bottom: 0;
    background-color: rgb(255, 217, 0);
}


#welcomePage .img2{
    width: 230px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

#welcomePage .img2:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    padding: 50px;
    top: 0;
    background-color: red;
}

.rightSide_img .img1_content{
    position: absolute;
    bottom: 30px;
    top: auto;
    width: 100%;
    text-align: center;
}

.rightSide_img .img1_content h4{
    color: #fff;
    font-size: 16px;
    font-family: monospace;
    padding-bottom: 10px;
}

.rightSide_img .img1_content h1{
    color: #fff;
    font-size: 2rem;
    font-family: sans-serif;
}

.rightSide_img .img2_content{
    position: absolute;
    top: 30px;
    bottom: auto;
    width: 100%;
    text-align: center;
}

.rightSide_img .img2_content h4{
    color: #fff;
    font-size: 16px;
    font-family: monospace;
    padding-bottom: 10px;
}

.rightSide_img .img2_content h1{
    color: #fff;
    font-size: 2rem;
    font-family: sans-serif;
}