.container{
    max-width: 300px;
    width: 300px;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    position: relative;
    border: 1px solid rgb(197, 195, 195);
    border-radius: 5px;
    overflow: hidden;

}
.container:hover{
    box-shadow: 10px 10px 20px rgba(153, 152, 152, 0.5);
}

.container .img_container{
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    flex: 1;
}

.img_container img{
    width: 300px;
    height: 300px;

}

.container .content{
    position: absolute;
    width: 300px;
    height: 250px;
    bottom: 0;
    /* background-color: red; */
    padding: 10px 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container .content h3{
    color: #000;
    text-align: center;
    background-color: green;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}


.container .content h2{
    color: #000;
    text-align: center;
    padding-bottom: 50px;
}

.content .description a{
    text-decoration: none;
    color: Green;
    text-align: center !important;
    margin-top: 50px !important;
    font-size: 15px !important;
    font-family: sans-serif;
}

.description a:hover{
    background-color: transparent;
    color: red;
}