:root{
    --textColor: rgb(255, 187, 0);
    --descColor: #fff;
    --priceColor: #fff;
}

.cardContiner{
    width: 250px;
    height: 400px;
    position: relative;
    border-radius: 15px;
    background-color: gray;
    overflow: hidden;
}

.cardContiner img{
    width: 250px;
    height: 200px;
    border-radius: 15px 15px 0 0;
    position: absolute;
    background-position: center;
    background-size: cover;   
}

.cardContiner .content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 250px;
    bottom: 0;
    text-align: center;
}

.cardContiner .content h1{
    color:var(--textColor);
    padding: 10px;
    font-family: sans-serif;
}

.cardContiner .content p{
    color: var(--descColor);
    padding: 10px;
    font-family: sans-serif;

}

.cardContiner .content h2{
    color: var(--priceColor);
    font-family: sans-serif;
    padding-top: 20px;
}