:root{
    --bg_color: rgba(57, 148, 4, 0.897);
    --activeColor: white;
    --deactiveColor: rgb(143, 142, 142);
}




#featuredDishes{
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.featured_heading{
    text-align: center;
    width: 80%;
    margin: 0px auto;
    padding-top: 80px;
}

.active{
    background-color: var(--bg_color);
    color: #fff;
    transition: 0.5s ease-in-out;
}

.nav{
    max-width: 30%;
    height: 6vh;
    margin: 30px auto  40px auto;
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 50px;
    display: flex;
    position: relative;
    overflow: hidden;
}
.nav .nav-link{
    text-decoration: none;
    flex: 1;
    line-height: 6vh;
    border-radius: 50px;
    outline: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
}

a{
    color: rgb(172, 169, 169);
}

a:hover{
    background-color: var(--bg_color);
    color: #fff;
    transition: 0.5s ease-in-out;
}

.tab-content{
    width: 70%;
    height: 60vh;
    border: 1px dashed red;
    margin: 0px auto;
}

.main{
    display: flex;
    width: 80%;
    margin: 0 auto;
}


/* .tab-content a:target{
    display: block;
} */


