.deshesContainer{
    width: 100%;
    height: 110vh;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.63), rgba(14, 13, 13, 0.096)),
    url('./assets/wooden_bg.jpg');
    background-size: cover;
    background-position: center;
}

.deshesContainer .deshesContainer_heading{
    text-align: center;
    padding: 70px;
    font-family: sans-serif;
}



.deshesContainer .card_contanier{
    display: flex; 
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    
}

